<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
   
    <h1>Employee details</h1>
    {% for e in emplist %}
        <h2>Employee  {{forloop.counter}}</h2>
        <table border="1">
            <tr><th>EmpNo</th><td>{{e.EmpNo}}</td></tr>
            <tr><th>Ename</th><td>{{e.Ename}}</td></tr>
            <tr><th>salary</th><td>{{e.salary}}</td></tr>
            <tr><th>HireDate</th><td>{{e.HireDate}}</td></tr>

        </table>
    {% endfor %}  

</body>
</html>