<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Show Book Details</title>
</head>
<body>
    {% if error %}
        <h1>{{error}}</h1>
    {% else %}
        <table border='1' >
            <tr><th>Sr.NO</th><th>Book Name</th><th>Book price</th></tr>
            {% for b in records %}
                <tr><td>{{forloop.counter}}</td><td>{{b.bookname}}</td><td>{{b.bookprice}}</td></tr>
       {% endfor %}
            </table>    
    {% endif %}
</body>
</html>