<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <h1>Contest & Coding Challenges</h1>
    <h2>Following are the Contest in the database</h2>




<table class="table table-striped table-dark">
    <thead>
     <tr>
            <th scope="col" bgcolor="red">Contest</th>
            <th scope="col" bgcolor="red">Site</th>
            <th scope="col" bgcolor="red">Starting Date</th>
            <th scope="col" bgcolor="red">Ending Date</th>
            <th scope="col" bgcolor="red">Contest Type</th>
      
      </tr>
      
    </thead>
    <tbody>
            {% for b in my_list %}
      <tr>
            <th scope="col">{{b.conest_name}}</th>
            <th scope="col">{{b.contest_site}}</th>
            <th scope="col">{{b.starting}}</th>
            <th scope="col">{{b.ending}}</th>
            <th scope="col">{{b.contest_type}}</th>
      </tr>
      {% endfor %}
    </tbody>
  </table>


</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.7/js/tether.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</html>