<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Contest & Coding Challenges</h1>
    <h2>Following are the Contest in the database</h2>
<table border='1'>
<tr><th>contest</th><th></th><th>site</th><th>starting date</th><th>ending date</th><th>link</th></tr>
{% for b in my_list %}
<tr><td>{{b.contest_name}}</td><td>{{b.book_name}}</td><td>{{b.starting}}</td><td>{{b.ending}}</td><td><a href='#'>link</a></td></tr>
{% endfor %}

</body>
</html>